<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin-ThirdEye</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

</head>
<style>
    .image-item {
        position: relative;
        display: inline-block;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
    }
</style>

<body>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="" class="brand-wrap">
                <h1 class="h1">Third Eye</h1>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
    </aside>
    <main>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Add Products</h4>
                    <form onsubmit="validateProd('<%=product._id%>',event)" enctype="multipart/form-data"
                        id="editProductForm" accept="image">
                        <div class="mb-3">
                            <input class="form-control" value="<%=product.productName%>" type="text" id="productName"
                                name="productName">
                        </div>
                        <!-- form-group// -->
                        <div class="mb-3">

                            <textarea name="description" id="discription" class="form-control" cols="30"
                                rows="5"><%=product.description%></textarea>
                        </div>

                        <div class="mb-3">
                            <input class="form-control" value="<%=product.price%>" id="price" type="number"
                                name="price">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" value="<%=product.quantity%>" id="quantity" type="number"
                                name="quantity">
                        </div>
                        <select class="form-control mb-2" name="catagory">
                            <option value="">
                                <%=product.catagory%>
                            </option>
                            <%for(i=0;i<catagory.length;i++){%>
                                <%if (catagory[i].catagoryName!=product.catagory &&catagory[i].isActive===true ){%>
                                    <option>
                                        <%=catagory[i].catagoryName%>
                                    </option>
                                    <%}%>
                                        <%}%>
                        </select>
                        <div class="mb-3" id="imageContainer">
                            <% for(let i=0; i<product.images.length; i++) { %>
                                <div class="image-item" id="existingImage<%=i%>">
                                    <img src="/products/<%=product.images[i]%>" width="100px" height="120px">
                                    <button type="button" class="close-btn"
                                        onclick="deleteImage('<%=i%>')">&times;</button>
                                </div>
                                <% } %>
                        </div>
                        <input class="form-control" onchange="viewImages(event)" type="file" name="images" id="images"
                            multiple>

                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100">Edit Product</button>
                        </div>
                        <!-- form-group// -->
                    </form>

                </div>
            </div>
        </section>

    </main>
    <script src="/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Main Script -->
    <script src="/js/main.js?v=1.1" type="text/javascript"></script>
    <script>


        //product edit submit







        //validation
        let selectedFiles = [];
        let deletedImages = []
        function deleteImage(index) {
            const image = document.getElementById('existingImage' + index);
            if (image) {
                image.style.display = 'none';
            }
            deletedImages.push(index)
        }

        async function validateProd(productId, event) {
            event.preventDefault();
            const trimmedName = document.getElementById('productName').value.trim();
            const trimmedDescription = document.getElementById('discription').value.trim();
            const price = parseFloat(document.getElementById('price').value);
            const quantity = parseInt(document.getElementById('quantity').value);
            const fileInput = document.getElementById('images').files
            if (trimmedName.length === 0 || trimmedDescription.length === 0 || price < 0 || quantity < 0) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: 'The fields should not be empty and should not contain negative values.',

                });
                return
            }
            for (let i = 0; i < fileInput.length; i++) {
                let fileType = fileInput[i].type
                if (!fileType.startsWith('image/')) {

                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: 'Select Only Image files',

                    });
                    return
                }
            }

            const form = document.getElementById('editProductForm');
            const formData = new FormData(form);

            formData.append('deletedImages', deletedImages)


            const response = await axios.post(`/admin/edit-product/${productId}`, formData)



            if (response.data === 'reduce images') {
                Swal.fire({
                    icon: "error",
                    title: "Reduce images to 5",
                });
            }

            if (response.data === 'success') {
                Swal.fire({
                    icon: "success",
                    title: "Product Edited",
                });
                setTimeout(() => {
                    window.location.href = '/admin/products'
                }, 1000);

            }
            
        }





        function viewImages(event) {
            let inputFiles = event.target.files;
            let imageContainer = document.getElementById('imageContainer');

            for (let i = 0; i < inputFiles.length; i++) {
                const imageItem = document.createElement('div');
                imageItem.classList.add('image-item');

                const img = document.createElement('img');
                img.className = "ImagePreview";
                img.style.height = '100px';
                img.style.width = '100px';
                img.src = URL.createObjectURL(inputFiles[i]);
                imageItem.appendChild(img);

                const closeButton = document.createElement('button');
                closeButton.type = 'button';
                closeButton.classList.add('close-btn');
                closeButton.innerHTML = '&times;';
                closeButton.onclick = function () {
                    imageItem.remove();
                    imageItem.dataset.deleted = 'true'; // Mark the image as deleted
                    imageItem.remove();
                    selectedFiles = selectedFiles.filter(file => file !== inputFiles[i]);
                };
                imageItem.appendChild(closeButton);

                imageContainer.appendChild(imageItem);

                selectedFiles.push(inputFiles[i]);
            }
        }

    </script>

</body>

</html>