<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin-ThirdEye</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="" class="brand-wrap">
                <h1 class="h1">Third Eye</h1>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/referalOffer">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Referal Offer</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/catagory">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Catagory</span>
                    </a>

                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/catagoryOffer"> Catagory Offer</a>
                        <a href="/admin/productOffer">Product Offer</a>
                        <a href="/admin/coupons">Coupons</a>
                    </div>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/customers">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Customers</span>
                    </a>

                </li>

            </ul>
            <hr />

        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">

            </div>
            <div class="col-nav">
                <ul class="nav">
                    <li class="nav-item ">
                        <a href="/admin/logout" class="btn btn-success text-dark">Logout</a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%=order._id%>
                    </p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span> <i class="material-icons md-calendar_today"></i> <b>
                                    <%=order.odrderedDate.toDateString()%>
                                </b>
                            </span> <br />
                            <small class="text-muted">Order ID: <%=order._id%></small>
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">
                                        Customer
                                    </h6>
                                    <p class="mb-1">
                                        <b>
                                            <%=order.username%>
                                        </b> <br />
                                        <%=order.shippingAddress%> <br />
                                    </p>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                        <!-- col// -->
                        <!-- col// -->
                    </div>
                    <!-- row // -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="10%">Unit Price</th>
                                            <th width="10%">Quantity</th>
                                            <th width="10%">Total</th>
                                            <th width="10%">Status</th>
                                            <th width="20%">Manage</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <%for(i=0;i<orderedItems.length;i++){%>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/products/<%=orderedItems[i].imageUrl%>"
                                                                width="40" height="40" class="img-xs" alt="Item" />
                                                        </div>
                                                        <div class="info">
                                                            <%=orderedItems[i].productName%>
                                                        </div>

                                                    </a>
                                                </td>
                                                <td>Rs- <%=orderedItems[i].price%>
                                                </td>
                                                <td>
                                                    <%=orderedItems[i].cartQty%>
                                                </td>
                                                <td>
                                                    <%=orderedItems[i].price*orderedItems[i].cartQty%>
                                                </td>
                                                <td id="statusRow">
                                                    <% switch (orderedItems[i].status) { case 'Odered' : %>
                                                        <h6 class="text-dark">
                                                            <%= orderedItems[i].status %>
                                                        </h6>
                                                        <% break; case 'Shipped' : %>
                                                            <h6 class="text-primary">
                                                                <%= orderedItems[i].status %>
                                                            </h6>
                                                            <% break; case 'Delivered' : %>
                                                                <h6 class="text-success">
                                                                    <%= orderedItems[i].status %>
                                                                </h6>
                                                                <% break; case 'Cancelled' : case 'Returned' : %>
                                                                    <h6 class="text-danger">
                                                                        <%= orderedItems[i].status %>
                                                                    </h6>
                                                                    <% break; default: %>
                                                                        <h6>
                                                                            <%= orderedItems[i].status %>
                                                                        </h6>
                                                                        <% } %>


                                                </td>
                                                <td class="text-end">
                                                    <% if(orderedItems[i].status!=='Waiting for Return Confirmation' &&
                                                        orderedItems[i].status!=='Returned' &&
                                                        orderedItems[i].status!=='Cancelled' ) {%>
                                                        <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200"
                                                            id="orderChange"
                                                            onchange="orderStatus('<%=orderedItems[i]._id%>')">
                                                            <option>Odered</option>
                                                            <option>Shipped</option>
                                                            <option>Delivered</option>
                                                            <option>Cancelled</option>

                                                        </select>

                                                        <% }else
                                                            if(orderedItems[i].status==='Waiting for Return Confirmation'
                                                            ){%>
                                                            <button class="btn btn-success"
                                                                onclick="approve('<%=orderedItems[i].productId%>','<%=orderedItems[i].cartQty%>','<%=orderedItems[i]._id%>','<%=order.userId%>')">Approve</button>
                                                            <button class="btn btn-danger">Decline</button>
                                                            <% } %>


                                                </td>

                                            </tr>
                                            <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive// -->
                        </div>
                        <!-- col// -->
                        <div class="col-lg-1"></div>
                        <!-- col// -->
                    </div>
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
        </section>
    </main>
    <script src="/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/select2.min.js"></script>
    <script src="/js/vendors/perfect-scrollbar.js"></script>
    <script src="/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        async function orderStatus(itemsId) {
            const changedStatus = document.getElementById('orderChange').value
            const bodyData = {
                changedStatus,
                itemsId
            }
            const response = await axios.post('/admin/orderStatus', bodyData)

            const updateStatus = document.getElementById('statusRow')
            console.log(response.data);
            updateStatus.innerHTML = response.data

            Swal.fire({
                position: "top-end",
                icon: "success",
                title: `this item ${response.data}`,
                showConfirmButton: false,
                timer: 1500
            });

        }
        async function approve(productId, cartQty, itemId, userId) {
            const response = await axios.post('/admin/approveReturn', { productId, cartQty, itemId, userId })
            if (response.data === 'success') {
                Swal.fire({
                    icon: 'success',
                    title: 'return approved!',
                    text: 'Approved',
                    showConfirmButton: false,
                    timer: 2000
                });
                setTimeout(() => {
                window.location.reload()
                }, 2000);
            }

        }
    </script>
</body>

</html>