<!doctype html>
<html lang="en">


<!doctype html>
<html lang="en" class="light-theme">


<!-- Mirrored from codervent.com/shopingo/demo/shopingo_V1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 05:42:26 GMT -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--favicon-->
  <link rel="icon" href="/user/images/favicon-32x32.webp" type="image/webp" />

  <!-- CSS files -->
  <link href="/user/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/user/cdn.jsdelivr.net/npm/bootstrap-icons%401.7.2/font/bootstrap-icons.css">
  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="/user/plugins/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/user/plugins/slick/slick-theme.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  <link href="/user/css/style.css" rel="stylesheet">
  <link href="/user/css/dark-theme.css" rel="stylesheet">

  <title>ThirdEye - eCommerce</title>
</head>

<body>


  <!--page loader-->
  <div class="loader-wrapper">
    <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <!--end loader-->

  <!--start top header-->
  <header class="top-header">
    <nav class="navbar navbar-expand-xl w-100 navbar-dark container gap-3">
      <a class="navbar-brand d-none d-xl-inline" href="index.html">
        <h3 class="mt-1">THIRD EYE</h3>
      </a>
      <a class="mobile-menu-btn d-inline d-xl-none" href="javascript:;" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar">
        <i class="bi bi-list"></i>
      </a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <div class="offcanvas-logo"><img src="/user/images/logo.webp" class="logo-img" alt="">
          </div>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body primary-menu">
          <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
            <li class="nav-item">
              <a class="nav-link" href="/user/home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="tv-shows.html"
                data-bs-toggle="dropdown">
                Categories
              </a>
              <div class="dropdown-menu dropdown-large-menu">
                <div class="row">

                  <!-- end col-3 -->
                  <div class="col-12 col-xl-4">
                    <h6 class="large-menu-title">Sunglass</h6>
                    <ul class="list-unstyled">
                      <li><a href="javascript:;">Computer Glass</a>
                      </li>
                      <li><a href="javascript:;">Fancy Frames</a>
                      </li>


                    </ul>
                  </div>
                  <!-- end col-3 -->

                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/productList/1"> Shop </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="/user/profile">
                Account
              </a>
            </li>

          </ul>
        </div>
      </div>
      <ul class="navbar-nav secondary-menu flex-row">
        <li class="nav-item">
          <a class="nav-link dark-mode-icon" href="javascript:;">
            <div class="mode-icon">
              <i class="bi bi-moon"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/showWishlist"><i class="bi bi-suit-heart"></i></a>
        </li>
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
          <a class="nav-link position-relative" href="/user/cart">
            <div class="cart-badge"></div>
            <i class="bi bi-basket2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/wallet"><i class="bi bi-wallet"></i></a>

        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="/user/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <!--end top header-->


  <!--start page content-->
  <div class="page-content">


    <!--start breadcrumb-->
    <div class="py-4 border-bottom">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Cart</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <!--end breadcrumb-->


    <!--start product details-->
    <section class="section-padding">
      <div class="container">
        <div class="d-flex align-items-center px-3 py-2 border mb-4">
          <div class="text-start">
            <h4 class="mb-0 h4 fw-bold">Third Eye Cart</h4>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-12 col-lg-8 col-xl-8">
            <h6 class="fw-bold mb-3 py-2 px-3 bg-light">Products</h6>
            <% let sumOfDiscount=0,diffrence=0 %>
              <% for (let i=0; i < products.length; i++) { %>
                <div class="card rounded-0 mb-3">
                  <div class="card-body">
                    <div class="d-flex flex-column flex-xl-row gap-3">
                      <div class="address-info form-check flex-grow-1">
                        <img src="/products/<%= products[i].imageUrl %>" width="150px" height="150px">
                        <label class="form-check-label" for="flexRadioDefault1">
                          <span class="fw-bold mb-0 h5">
                            <%= products[i].productName %>
                          </span><br>
                          <span class="fw-bold mb-0 text-danger">Only <%= productQuantity[i] %> left</span><br>
                          <div class="product-price d-flex align-items-center gap-2 mt-2">
                            <%let offerToApply=(products[i].pOffer && products[i].pOffer> products[i].cOffer) ?
                              products[i].pOffer : products[i].cOffer;
                              %>
                              <% if (offerToApply) { %>
                                <div class="h6 fw-bold" id="offer">
                                  $<%=Math.floor(products[i].price-(products[i].price*offerToApply /100))%>
                                </div>
                                <%diffrence=products[i].price-Math.floor(products[i].price-(products[i].price*offerToApply
                                      /100))%>
                                      <% sumOfDiscount+=diffrence %>
                                <div class="h6 fw-light text-muted text-decoration-line-through" id="originalPrice">$
                                  <%=products[i].price%>
                                </div>
                                <div class="h6 fw-bold text-danger">(<%=offerToApply%>% off)</div>
                                <% }else{ %>
                                  <div class="h6 fw-bold" >$ <%=products[i].price%>
                                  </div>
                                  <%}%>
                          </div>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <button class="btn btn-outline-secondary decrease-btn" type="button"
                                onclick="decrimentTotal('<%=products[i]._id%>','<%=products[i].price%>', '<%= i %>');">-</button>
                            </div>
                            <input type="number" id="cartQty" class="form-control text-center  quantity-input" readonly
                              value="<%= products[i].cartQty %>" min="1" max="<%= productQuantity[i]%>"
                              data-product-id="<%= products[i]._id %>">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary increase-btn" type="button"
                                onclick="incrimentTotal('<%=products[i]._id%>','<%=products[i].price%>','<%= productQuantity[i]%>', '<%= i %>');">+</button>
                            </div>
                          </div>
                        </label>
                      </div>
                      <div class="d-none d-xl-block vr"></div>
                      <div class="d-grid gap-2 align-self-start align-self-xl-center">
                        <button type="button"
                          onclick="removeCart('<%=products[i]._id%>','<%=products[i].price%>','<%=products[i].cartQty%>')"
                          class="btn btn-outline-dark px-5 btn-ecomm remove-btn">Remove</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
          </div>
          <div class="card rounded-0">
            <div class="card-body">
              <button type="button" class="btn btn-outline-dark btn-ecomm">Continue shopping</button>
            </div>
          </div>

        </div>
        <div class="col-12 col-lg-4 col-xl-4">
          <div class="card rounded-0 mb-3">
            <div class="card-body">
              <h5 class="fw-bold mb-4">Order Summary</h5>
              <div class="hstack align-items-center justify-content-between">
                <p class="mb-0">Bag Total</p>
                <p class="mb-0" id="bagTotal">
                  <%=userCart.totalPrice%>
                </p>
              </div>
              <hr>
              <div class="hstack align-items-center justify-content-between">
                <p class="mb-0">Bag discount</p>
                <p class="mb-0 text-success" id="totalDiscount">
                
                </p>
              </div>
              <hr>
              <div class="hstack align-items-center justify-content-between">
                <p class="mb-0">Delivery</p>
                <p class="mb-0">0</p>
              </div>
              <hr>
              <div class="hstack align-items-center justify-content-between fw-bold text-content">
                <p class="mb-0">Total Amount</p>
                <p class="mb-0" id="total">
                  <%=userCart.totalPrice%>
                </p>
              </div>
              <div class="d-grid mt-4">
                <a href="/user/checkout"><button type="button" class="btn btn-dark btn-ecomm py-3 px-5">Place
                    Order</button></a>
              </div>
            </div>
          </div>

        </div>
      </div><!--end row-->
    </section>
  </div>

  <!--start product details-->




  </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <h3>THIRD EYE</h3>
            <h5 class="mb-3 fw-bold">About Us</h5>
            <p class="mb-2">Founded in 2023, Visionary Optics is a leading e-commerce platform specializing in eyewear.
              With a mission to provide stylish and high-quality eyewear to customers worldwide, Visionary Optics offers
              a diverse range of products, including prescription glasses, sunglasses, and contact lenses.
              Through innovative technology and a user-friendly interface, customers can easily browse and purchase
              eyewear tailored to their preferences and vision needs.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
            <ul class="widget-link list-unstyled">
              <li><a href="">Sunglass</a></li>
              <li><a href="">Computerglass</a></li>
              <li><a href="">Fancy frames</a></li>


            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
            <ul class="widget-link list-unstyled">
              <li><a href="javascript:;">About Us</a></li>
              <li><a href="javascript:;">Contact Us</a></li>
              <li><a href="javascript:;">FAQ</a></li>
              <li><a href="javascript:;">Privacy</a></li>
              <li><a href="javascript:;">Terms</a></li>
              <li><a href="javascript:;">Complaints</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
            <div class="social-link d-flex align-items-center gap-2">
              <a href="javascript:;"><i class="bi bi-facebook"></i></a>
              <a href="javascript:;"><i class="bi bi-twitter"></i></a>
              <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
              <a href="javascript:;"><i class="bi bi-youtube"></i></a>
              <a href="javascript:;"><i class="bi bi-instagram"></i></a>
            </div>
            <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@example.com</p>
            </div>
            <div class="">
              <h5 class="mb-0 fw-bold">Toll Free</h5>
              <p class="mb-0 text-muted">1800- 8xx 2xx</p>
            </div>
          </div>
        </div>
      </div><!--end row-->
      <div class="my-5"></div>
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h5 class="fw-bold mb-3">Download Mobile App</h5>
          </div>
          <div class="app-icon d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
            <div>
              <a href="javascript:;">
                <img src="/user/images/play-store.webp" width="160" alt="">
              </a>
            </div>
            <div>
              <a href="javascript:;">
                <img src="/user/images/apple-store.webp" width="160" alt="">
              </a>
            </div>
          </div>
        </div>
      </div><!--end row-->

    </div>
  </section>
  <!--end footer-->


  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.example.com | All rights reserved.</p>
  </footer>



  <!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
  <!--End Back To Top Button-->


  <!-- JavaScript files -->
  <script src="/user/js/bootstrap.bundle.min.js"></script>
  <script src="/user/js/jquery.min.js"></script>
  <script src="/user/plugins/slick/slick.min.js"></script>
  <script src="/user/js/main.js"></script>
  <script src="/user/js/index.js"></script>
  <script src="/user/js/loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script>
  // Function to update the quantity input value and trigger change event
  async function incrimentTotal(indexId, price, max, i) {

    try {


      if ((Number(document.querySelectorAll('.quantity-input')[i].value) + 1) <= max) {
        const response = await axios.post(`/user/totalIncrement?indexId=${indexId}&price=${price}`)

        let totalprice = response.data
        let upadateTotal = document.getElementById('total').innerHTML = totalprice
        let updateCartTotal = document.getElementById('bagTotal').innerHTML = totalprice
      }
      changeQuantity(document.querySelectorAll('.increase-btn')[i], 1);
    } catch (error) {

    }
  }


  async function decrimentTotal(indexId, price, i) {
    try {
      if ((Number(document.querySelectorAll('.quantity-input')[i].value) - 1) > 0) {
        const response = await axios.post(`/user/totalDecrement?indexId=${indexId}&price=${price}`);
        let totalprice = response.data

        let upadateTotal = document.getElementById('total').innerHTML = totalprice
        let updateCartTotal = document.getElementById('bagTotal').innerHTML = totalprice
      }
      changeQuantity(document.querySelectorAll('.decrease-btn')[i], -1);
    } catch (error) {

    }
  }



  // Function to change the quantity when increase or decrease button is clicked
  function changeQuantity(button, change) {

    const input = button.parentElement.parentElement.querySelector('.quantity-input');
    let quantity = parseInt(input.value);

    // Change the quantity based on the button clicked
    quantity += change;

    // Ensure the quantity stays within the min-max range
    const min = parseInt(input.getAttribute('min'));
    const max = parseInt(input.getAttribute('max'));
    quantity = Math.min(Math.max(min, quantity), max);



    // Update the input value
    input.value = quantity;

    // Trigger change event to update quantity on the backend
    input.dispatchEvent(new Event('change'));

  }
  async function removeCart(productId, price, cartQty) {
    try {
      const response = await axios.post(`/user/removeCart?productId=${productId}&price=${price}&cartQty=${cartQty}`);
      Swal.fire({
        icon: 'success',
        title: 'Success',
        text: response.data,
      }).then((result) => {
        if (result.isConfirmed) {
          // Reload the page
          window.location.reload();
        }
      });


    } catch (error) {
      console.error('Error removing item from cart:', error);
      // Handle error appropriately (e.g., show an error message to the user)
    }
  }

 function offer() {
   let discount=document.getElementById('offer').value
   let cartQty=document.getElementById('cartQty').value
   let price=document.getElementById('originalPrice').value
   let sum=0
   console.log(discount,cartQty,price);
   sum=(price-discount)*price
  
   let BagDiscount=document.getElementById('totalDiscount')
   BagDiscount.innerHTML=sum
  }
  offer()
</script>
<!-- Mirrored from codervent.com/shopingo/demo/shopingo_V1/address.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 05:42:55 GMT -->

</html>