<!doctype html>
<html lang="en" class="light-theme">


<!-- Mirrored from codervent.com/shopingo/demo/shopingo_V1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 05:42:26 GMT -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="/user/images/favicon-32x32.webp" type="image/webp" />

    <!-- CSS files -->
    <link href="/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/user/cdn.jsdelivr.net/npm/bootstrap-icons%401.7.2/font/bootstrap-icons.css">
    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="/user/plugins/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/user/plugins/slick/slick-theme.css" />

    <link href="/user/css/style.css" rel="stylesheet">
    <link href="/user/css/dark-theme.css" rel="stylesheet">

    <title>Wallet - ThirdEye - eCommerce</title>
</head>

<body>


    <!--page loader-->
    <div class="loader-wrapper">
        <div
            class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
            <div class="spinner-border text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <!--end loader-->

    <!--start top header-->
    <header class="top-header">
        <nav class="navbar navbar-expand-xl w-100 navbar-dark container gap-3">
            <a class="navbar-brand d-none d-xl-inline" href="/user/home">
                <h3 class="mt-1">THIRD EYE</h3>
            </a>
            <a class="mobile-menu-btn d-inline d-xl-none" href="javascript:;" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar">
                <i class="bi bi-list"></i>
            </a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
                <div class="offcanvas-header">
                    <h3 class="mt-1">THIRD EYE</h3>
                   
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body primary-menu">
                    <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/home">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="tv-shows.html"
                                data-bs-toggle="dropdown">
                                Categories
                            </a>
                            <div class="dropdown-menu dropdown-large-menu">
                                <div class="row">

                                    <!-- end col-3 -->
                                    <div class="col-12 col-xl-4">
                                        <h6 class="large-menu-title">Sunglass</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="javascript:;">Computer Glass</a>
                                            </li>
                                            <li><a href="javascript:;">Fancy Frames</a>
                                            </li>


                                        </ul>
                                    </div>
                                    <!-- end col-3 -->

                                    <!-- end col-3 -->
                                </div>
                                <!-- end row -->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/productList/1"> Shop </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="/user/profile">
                                Account
                            </a>
                        </li>>

                    </ul>
                </div>
            </div>
            <ul class="navbar-nav secondary-menu flex-row">
                <li class="nav-item">
                    <a class="nav-link dark-mode-icon" href="javascript:;">
                        <div class="mode-icon">
                            <i class="bi bi-moon"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search.html"><i class="bi bi-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/showWishlist"><i class="bi bi-suit-heart"></i></a>
                </li>
                <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <a class="nav-link position-relative" href="/user/cart">
                        <div class="cart-badge"></div>
                        <i class="bi bi-basket2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/wallet"><i class="bi bi-wallet"></i></a>

                </li>
            </ul>
        </nav>
    </header>
    <!--end top header-->
    <div class="page-content">
        <!--start breadcrumb-->
        <div class="py-4 border-bottom">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">

                        <li class="breadcrumb-item active">Home</li>
                        <li class="breadcrumb-item active">Pages</li>
                        <li class="breadcrumb-item active">Wallet</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <!--start wallet details-->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Details</h5>
                                <p>Wallet Balance: $ <%= wallet.balance %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end wallet details-->

        <!--start add wallet money-->
        <section class="section-padding  d-inline">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add/Withdraw Wallet Money</h5>
                                <form>
                                    <div class="mb-3">
                                        <label for="amount" class="form-label">Amount</label>
                                        <input type="number" class="form-control" id="amount" name="amount"
                                            placeholder="Enter amount to add" required min="1">

                                    </div>
                                    <button type="button" onclick="validateWallet()" class="btn btn-primary">Add
                                        Money</button>
                                    <button type="button" onclick="validateWalletWithDraw()"
                                        class="btn btn-danger">Wthdraw
                                        Money</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end add wallet money-->
        <!-- Add this section where you want the wallet history to appear -->
        <section class="section-padding ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#walletHistoryModal">
                                    Wallet History
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>


    <!-- Wallet History Modal -->
    <div class="modal fade" id="walletHistoryModal" tabindex="-1" aria-labelledby="walletHistoryModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="walletHistoryModalLabel">Wallet History</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Table for displaying wallet history -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Transaction Type</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(let item of wallet.transaction){%>
                                <tr>
                                    <td>
                                        <%=item.date.toDateString()%>
                                    </td>
                                    <td>
                                        <%=item.status%>
                                    </td>
                                    <% if(item.status==='Credited' ||item.status==='Refund' ) {%>
                                        <td class="text-success">$<%=item.amount%>
                                        </td>
                                        <%}else {%>
                                            <td class="text-danger">$<%=item.amount%>
                                            <% } %>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--start footer-->
    <section class="footer-section bg-section-2 section-padding">
        <div class="container ">
            <div class="row row-cols-1 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="footer-widget-6">
                        <h3>THIRD EYE</h3>
                        <h5 class="mb-3 fw-bold">About Us</h5>
                        <p class="mb-2">Founded in 2023, Visionary Optics is a leading e-commerce platform specializing
                            in eyewear.
                            With a mission to provide stylish and high-quality eyewear to customers worldwide, Visionary
                            Optics offers a diverse range of products, including prescription glasses, sunglasses, and
                            contact lenses.
                            Through innovative technology and a user-friendly interface, customers can easily browse and
                            purchase eyewear tailored to their preferences and vision needs.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-widget-7">
                        <h5 class="mb-3 fw-bold">Explore</h5>
                        <ul class="widget-link list-unstyled">
                            <li><a href="">Sunglass</a></li>
                            <li><a href="">Computerglass</a></li>
                            <li><a href="">Fancy frames</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-widget-8">
                        <h5 class="mb-3 fw-bold">Company</h5>
                        <ul class="widget-link list-unstyled">
                            <li><a href="javascript:;">About Us</a></li>
                            <li><a href="javascript:;">Contact Us</a></li>
                            <li><a href="javascript:;">FAQ</a></li>
                            <li><a href="javascript:;">Privacy</a></li>
                            <li><a href="javascript:;">Terms</a></li>
                            <li><a href="javascript:;">Complaints</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-widget-9">
                        <h5 class="mb-3 fw-bold">Follow Us</h5>
                        <div class="social-link d-flex align-items-center gap-2">
                            <a href="javascript:;"><i class="bi bi-facebook"></i></a>
                            <a href="javascript:;"><i class="bi bi-twitter"></i></a>
                            <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
                            <a href="javascript:;"><i class="bi bi-youtube"></i></a>
                            <a href="javascript:;"><i class="bi bi-instagram"></i></a>
                        </div>
                        <div class="mb-3 mt-3">
                            <h5 class="mb-0 fw-bold">Support</h5>
                            <p class="mb-0 text-muted">support@example.com</p>
                        </div>
                        <div class="">
                            <h5 class="mb-0 fw-bold">Toll Free</h5>
                            <p class="mb-0 text-muted">1800- 8xx 2xx</p>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
            <div class="my-5"></div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h5 class="fw-bold mb-3">Download Mobile App</h5>
                    </div>
                    <div
                        class="app-icon d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
                        <div>
                            <a href="javascript:;">
                                <img src="/user/images/play-store.webp" width="160" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:;">
                                <img src="/user/images/apple-store.webp" width="160" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--end row-->

        </div>
    </section>
    <!--end footer-->

    <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
        <p class="mb-0 text-muted">© 2023. www.thirdeye.com | All rights reserved.</p>
    </footer>





    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!--End Back To Top Button-->


    <!-- JavaScript files -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/user/js/bootstrap.bundle.min.js"></script>
    <script src="/user/js/jquery.min.js"></script>
    <script src="/user/plugins/slick/slick.min.js"></script>
    <script src="/user/js/main.js"></script>
    <script src="/user/js/index.js"></script>
    <script src="/user/js/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function validateWallet() {
            const money = document.getElementById('amount').value
            if (!money) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Enter a amount to recharge'
                })
            }
            else {
                const response = await axios.post(`/user/walletRecharge?amount=${money}`)

                if (response.data.redirectUrl) {
                    window.location.href = response.data.redirectUrl
                }
            }
        }


        async function validateWalletWithDraw() {
            const money = document.getElementById('amount').value
            if (!money) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Enter a amount to recharge'
                })
            }
            else {
                Swal.fire({
                    title: 'Confirm Withdrawal',
                    text: 'Are you sure you want to withdraw?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, withdraw!',
                    cancelButtonText: 'No, cancel'
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const response = await axios.post(`/user/walletWithDraw?amount=${money}`)

                        Swal.fire({
                            icon: 'success',
                            title: 'amount withdrawned'
                        })

                        setTimeout(() => {
                            window.location.reload()
                        }, 2000);

                    } else if (result.dismiss === Swal.DismissReason.cancel) {

                        Swal.fire('Cancelled', 'Your withdrawal request has been cancelled.', 'info');
                    }
                });


            }
        }
    </script>
</body>



</html>